body {
  background: #0e1013;
  color: #d1d5db;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

header {
  padding: 1rem;
  background: #1a1d22;
  text-align: center;
}

#search {
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  width: 50%;
  margin-top: 0.5rem;
}

#scripts {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-height: 70vh;
  overflow-y: auto;
}

.script-card {
  background: #2a2f38;
  margin-bottom: 6px;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: #22d3ee;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

button.off {
  background: #444;
  color: #aaa;
}

#console {
  padding: 1rem;
  background: #1a1d22;
  height: 120px;
  overflow-y: auto;
  border-top: 2px solid #2d323b;
}
